/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Swiper */
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


:root {
   --screen-sm: 576px;
   --screen-md: 960px;
   --screen-lg: 1440px;
   --base-font-size: 14px;
   --base-font: "Inria Sans", sans-serif;
   --spacing: 2rem;
   --swiper-pagination-color: #afafaf;
   --swiper-theme-color: #afafaf;
   ;
   --swiper-pagination-bullet-width: 21px;
   --swiper-pagination-bullet-height: 9px;
   --swiper-pagination-bullet-border-radius: 0;
   --swiper-navigation-top-offset: 10%;

   --title-color: #fff;
   --body-color: #afafaf;
   --background-color: #222;
   --blend-mode: lighten;
}

.light-theme {
   --title-color: #333;
   --body-color: #696969;
   --background-color: #eee;
   --blend-mode: normal;
}



html {
   font-size: var(--base-font-size);
   scroll-behavior: smooth;
}

body {
   background-color: var(--background-color);
   font-family: var(--base-font);
   color: var(--body-color);
   line-height: 1.6;
   letter-spacing: .2rem;
   transition: background-color 1s, color 1s;
   /* overflow: hidden; */
}

a {
   text-decoration: none;
   color: var(--body-color);
}

a:hover {
   color: var(--title-color);
}

p {
   letter-spacing: initial;
   font-size: 1.5rem;
}

header,
footer {
   /* position: absolute;
   z-index: 9; */
   background-color: var(--background-color);
   width: 100%;
   padding: var(--spacing);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

img {
   max-width: 100%;
}

nav ul {
   display: flex;
   gap: var(--spacing);
}

nav ul li {
   display: inline;
   list-style: none;
   padding: .5rem;
}



h1,
h2,
h3 {
   color: var(--title-color);
   margin-bottom: .5rem;
}

h1 span {
   font-weight: lighter;
   color: var(--body-color);
}

figure {
   position: relative;
   aspect-ratio: 21 / 9;
}

figure img {
   width: 100%;
   height: 100%;
   object-position: center;
   object-fit: cover;
}

figure figcaption {
   position: absolute;
   top: 0;
   left: 0;
   padding: var(--spacing);
   transition: background-color 1s, color 1s;
}

section {}

.content {
   padding: var(--spacing);
   max-width: 60rem;
   margin: 0 auto;
}

.mySwiper {
   position: relative;
}

.swiper-wrapper {
   max-height: 100vh;
   overflow: hidden;
}

.swiper-pagination-bullet {
   border-radius: none;
}

.swiper-pagination-bullet-active {
   background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
   left: var(--swiper-navigation-sides-offset, 10px);
   right: 4rem;
   left: auto;
}

/* 
--screen-sm: 576px;
--screen-md: 960px;
--screen-lg: 1440px; 
*/

@media screen and (max-width: 576px) {
   :root {
      --base-font-size: 14px;
   }

   header,
   footer {
      flex-direction: column;
      text-align: center;
   }

  
}